
   {% load static %} <!-- footer-start -->
    <footer>
        <div class="fotter-area d-ddark-bg">
            <div class="footer__bottom-2">
                <div class="container 0">
                    <div class="footer__bottom-content footer__bottom-content-2 pt-50 pb-50">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer__links footer__links-d text-center mb-25">
                                    <p>
                                        <a href="about.html">About Us</a>
                                        <a href="contact.html">Delivery & Return</a>
                                        <a href="faq.html">Privacy Policy</a>
                                        <a href="faq.html">Help</a>
                                        <a href="faq.html">Order Tracking</a>
                                        <a href="contact.html">Contact Us</a>
                                        <a href="faq.html">FAQs </a>
                                    </p>
                                </div>
                                <div class="payment-image text-center mb-25">
                                    <a href="#"><img src="assets/img/payment/payment.png" alt=""></a>
                                </div>
                                <div class="copy-right-area copy-right-area-2 text-center">
                                    <p>Copyright © <span>DukaMarket.</span> All Rights Reserved. Powered by <a href="#"><span class="main-color">Theme_Pure.</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


 <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'assets/js/vendor/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-bundle.js' %}"></script>
    <script src="{% static 'assets/js/meanmenu.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/tweenmax.js' %}"></script>
    <script src="{% static 'assets/js/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/parallax.js' %}"></script>
    <script src="{% static 'assets/js/backtotop.js' %}"></script>
    <script src="{% static 'assets/js/nice-select.js' %}"></script>
    <script src="{% static 'assets/js/countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/counterup.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/isotope-pkgd.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded-pkgd.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
